{% extends 'base.html' %}

{% load static %}

{% block content %}
<h1>About Me</h1>
<p>This is the about me page.</p>

<section class="container-md">
    <div class="about image-container center">
        <img src={% static 'images/' %} alt="my picture">
    </div>

    <div class="class about-description-container center-column">
        <div>
            <h1>Hello I'm Barto</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, ipsam eum! Facilis dolorem dicta et quos aperiam, mollitia dignissimos animi natus eos, reprehenderit beatae tempora quis aliquam omnis odio. Officia sint saepe rerum ipsam reiciendis temporibus asperiores culpa neque doloribus porro sunt atque cumque incidunt nulla minima, illo explicabo itaque. Nostrum ipsa tempora, quibusdam animi inventore blanditiis dolorum eum ipsum a rem quaerat. Exercitationem omnis nesciunt animi. Repellat, deserunt? Eveniet iste iure itaque unde similique accusamus sit sunt at aspernatur deserunt, nisi nihil saepe, suscipit hic repellendus aliquam esse nobis, laudantium dolorem fugit debitis fuga! Cumque, praesentium obcaecati! Autem, repellat.</p>

        </div>
    </div>
</section>

{% endblock %}