{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <title>
        {% block title %}
        My Website
        {% endblock title %}
    </title>
        
</head>
<body>
     


    <!-- Navigation -->
     <header class="center">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <button id="darkModeToggle" class="btn btn-outline-light ms-3">Dark Mode</button>


                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="{% url 'about_me' %}">About me</a>
                        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
                        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                        <a class="nav-link" href="{% url 'experience' %}">Experience</a>
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                            
                    </div>
                </div>
            </div>
        </nav>
     </header>

    <!-- content MAIN-->
     <main>
        {% block content %}

        {% endblock %}
     </main>

    <!-- Footer -->
     <footer>
        
        <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Contact Me</a>
            </div>
        </div>

     </footer>
</body>
</html>